<p>cart works!</p>
<ng-container *ngIf="true">
  <div class="container">
      <div class="card-table">
          <div class="cart-product">
              <table class="table table-responsive">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Time to Prepare</th>
                          <th>Mobile</th>
                          <th>Price</th>
                          <th>Action</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>1</td>
                        <td>BBQ</td>
                        <td>45min</td>
                        <td>123</td>
                        <td>60</td>
                        <td>
                          <button class="btn btn-danger">Delete</button>
                        </td>
                      </tr>
